*{
    margin: 0px;
}
header{
    background-color: #0087ff;
    width: auto;
    height: 180px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

#logo{
    margin-top: 80px;
    margin-left: 10px;
    width: 250px;
    height: auto;
}

main{
    margin: 10px;
}

h1{
    font-size: 40px;
}

.write-font{
    color: grey;
}

.author{
    color: aqua;
}

.write-date{
    color: grey;
    font-size: 12px;
}